
body {
    font-family: sans-serif;
}

header {
    background-color: pink;
    font-weight: bold;
    padding: 10px;
}

header img {
    height: 40px;
}

header a {
    background-color: white;
    text-decoration: none;
    color: blue;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
}

main h1 {
    color: blueviolet;
    text-align: center;
    font-size: 80px;
}

main nav {
    padding: 10px;
    text-align: center;
}

nav a {
    background-color: peru;
    text-decoration: none;
    padding: 6px;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.products {
    background-color: chocolate;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.products_image {
    width: 70px;
    padding-bottom: 10px;
}

main h2 {
    color: blue;
}

main p {
    font-size: 20px;
}

.offer_image {
    width: 850px;
    border: 5px solid blueviolet;
    border-radius: 10px;
}

.contacts {
    border: 5px solid black;
    color: blue;
    padding: 5px;
    text-decoration: none;
}

.logo {
    border: 5px solid black;
    color: blue;
    padding: 5px;
    text-decoration: none;
}

footer {
    background-color: plum;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
}

#contacts {
    padding-left: 20px;
}
